:root {
    --background-color: #484848;
    --foreground-color: rgb(152, 172, 247);
    --font-color: black;
}


* {
    text-align: center;
    margin: 0;
    padding: 0;
    color: black;
    flex-wrap: wrap;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

footer {
    background-color: var(--foreground-color);
    bottom: 0px;
    /* box-shadow: black 0 10px 10px; */
    border: black;
    border-style: solid;
}

footer ul {
    text-align: center;
    bottom: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 20px;
}

footer ul li {
    display: inline;
    font-weight: bolder;
    font-family: 'Amatic SC', cursive;
    font-size: 30px;
    justify-content: space-evenly;
}

@media screen and (max-width: 768px) {

    header,
    footer {
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }

    footer li {
        margin: 20px;
        text-align: center;
        justify-content: center;

    }

    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
}